Repository devsoc-unsw/trainee-uranus-24t1, pull requests merged in 2024-04, with the labels that each got.

#7 Add backend directory
  backend/.gitignore
  backend/.prettierrc
  backend/eslint.config.js
  backend/examples/README.md
  backend/examples/example.json
  backend/nodemon.json
  backend/package-lock.json
  backend/package.json
  backend/src/env.ts
  backend/src/index.ts
  backend/src/middleware/token.middleware.ts
  backend/src/models/user.ts
  backend/src/request.d.ts
  backend/src/routes/authentication.routes.ts
  backend/src/routes/self.routes.ts
  backend/src/routes/super.routes.ts
  backend/src/routes/users.routes.ts
  backend/src/services/database.service.ts
  backend/src/services/public-user-info.service.ts
  backend/tests/server.test.ts
  backend/tsconfig.json
Labels: backend

#12 Add login & register pages
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Heading.tsx
  frontend/src/components/Input.tsx
  frontend/src/index.css
  frontend/src/pages/login/Login.tsx
  frontend/src/pages/register/RegisterPage.tsx
Labels: new page, frontend

#11 10/coursebutton
  frontend/src/App.tsx
  frontend/src/components/CourseButton.tsx
  frontend/src/index.css
Labels: frontend
